@model List<AuthenticationClient.ViewModels.TaskViewModel>
@{
    ViewData["Title"] = "Task";
}
<h2>@ViewData["Title"]</h2>

<h3>Tasks</h3>

@foreach(var task in Model)
{
    @Html.DisplayFor(model => task.Id)
    @Html.DisplayFor(model => task.Name)
}

@*@foreach(var task in Model)
{
    < div >
        @task.Id
    </ div >
    <div>
        @task.Name
    </div>
    <div>
        @task.Description
    </div>
    <div>
        @task.StartDate
    </div>
    <div>
        @task.EndDate
    </div>
}*@